In [1]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " + str(panjang))
print("Lebar = " + str(lebar))
print("Tinggi = " + str(tinggi))
print("Keliling = " + str(keliling))
print("Volume = " + str(volume))

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

In [38]:
dataMahasiswa = {
    'Shafira' : {
         'Kalkulus1' :  85, 'metodeStatistika' : 75
    },
    'Amanda' : {
         'Kalkulus1' :  80, 'metodeStatistika' : 90
    },
    'Aditya' : {
         'Kalkulus1' :  75, 'metodeStatistika' : 80
    },
    'Nedia' : {
         'Kalkulus1' :  95, 'metodeStatistika' : 80
    },
    'Widya' : {
         'Kalkulus1' :  85, 'metodeStatistika' : 85
    },
    'Hanif' : {
         'Kalkulus1' :  75, 'metodeStatistika' : 90
    },
    'Andi' : {
         'Kalkulus1' :  70, 'metodeStatistika' : 75
    },
    'Dhanar' : {
         'Kalkulus1' :  85, 'metodeStatistika' : 85
    },
    'Hikma' : {
         'Kalkulus1' :  80, 'metodeStatistika' : 75
    },
}

# 1

meanSafira = sum(dataMahasiswa['Shafira'].values()) / len(dataMahasiswa['Shafira'].values())

print("1. Rata-rata nilai Shafira pada kedua mata kuliah = ",str(meanSafira))

# 2

jmlnilaiHanifAndi = sum(dataMahasiswa['Hanif'].values()) + sum(dataMahasiswa['Andi'].values())

print("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah = ", jmlnilaiHanifAndi)

# 3

mahasiswaList = ['Widya', 'Dhanar', 'Hikma' , 'Nedia']

meanMahasiswa = {}

for mahasiswa in mahasiswaList :
    meanMahasiswa[mahasiswa] = sum(dataMahasiswa[mahasiswa].values()) / len(dataMahasiswa[mahasiswa])
    
print("3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah = ")
    
for mahasiswa, mean in meanMahasiswa.items():
     print(f"   {mahasiswa}  : {mean} ")

# 4

meanKalkulus = sum(dataMahasiswa[mahasiswa]['Kalkulus1'] for mahasiswa in dataMahasiswa ) / len(dataMahasiswa)    
print("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = " , meanKalkulus )

# 5

meanStastistika = sum(dataMahasiswa[mahasiswa]['metodeStatistika'] for mahasiswa in dataMahasiswa ) / len(dataMahasiswa)    
print("5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa = " , meanStastistika )

1. Rata-rata nilai Shafira pada kedua mata kuliah =  80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah =  310
3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah =
   Widya  : 85.0
   Dhanar  : 85.0
   Hikma  : 77.5
   Nedia  : 87.5
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa =  81.11111111111111
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa =  81.66666666666667

In [45]:
gajiPerJam = 30000
waktuKerjaHarian = 8
jmlharikerjadlmSebulan = 26
gajiLembur = 10000

# mencari 1

tidakHadir = 3

jamKerjaSebulan = (jmlharikerjadlmSebulan - tidakHadir) * waktuKerjaHarian
totalGajiSebulan = (jamKerjaSebulan - tidakHadir) * gajiPerJam


print(f"Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp. {totalGajiSebulan}")

Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp. 5430000